/*General*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
footer {
    background-color: brown;
    height: 10vh;
}

main {
    min-height: 70vh;
}

.header {
    height: 10vh;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    width: 100px;
    height: 100px;
}

´ .nav,
a {
    text-decoration: none;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    color: azure;
    font-family: Arial, Helvetica, sans-serif;
}

a[href="#"] {
    background-color: rgb(0, 0, 5);
    color: rgb(255, 255, 255);
    border-color: white;
}

a:hover {
    background-color: rgb(0, 0, 5);
    color: rgb(255, 255, 255);
    border-color: white;
}

/*HOME*/
.titulo {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}
.bannerhome {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}

.bannerhome>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenido {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    text-align: center;
}

.contenido>img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 10px;
    margin: 20px;
}

/* aboutus */

.pancakes {
    width: 100%;
    height: 40vh;
    display: flex;
    text-align: center;
    align-items: center;
    margin: 40px 0px
}

.pancakes>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 10px;
    border-radius: 10px;

}

.redcream {
    width: 100%;
    height: 40vh;
    display: flex;
    text-align: center;
    align-items: center;
    margin: 40px 0px
}

.redcream>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 10px;
    border-radius: 10px;

}

.strawberry {
    width: 100%;
    height: 40vh;
    display: flex;
    text-align: center;
    align-items: center;
    margin: 40px 0px
}

.strawberry>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 10px;
    border-radius: 10px;

}

/*CONTACT*/
.imagenc {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
}

.imagenc>img {
    border-radius: 20px;
    margin: 20px;
}

.textoc {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3vh;
}

.textoc>p {
    width: 50%;
}

.contact {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 4vh;
    color: rgb(64, 128, 1);
}
/* INFORMACION */
table{
    height: 50vh;
    width: 50vw;
    border-collapse: collapse;
}
table, td, th{
    border: 2px solid white;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.container_table{
    display: flex;
    justify-content: center;
    text-align: center;
}
th{
    width: 20%;
    background-color: rgb(0, 0, 0);
    color: white;
}
th:hover{
    background-color: rosybrown;
}
td{
    background-color: crimson;
    color: white;
}
td:hover{
    background-color: blueviolet;

}
/* BENEFICIOS */
.father{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.hijo{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 10px;
}
.caja_imagen1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 400px;

}
.caja_imagen1> img{
    height: 80%;
    width: 80%;
    border-radius: 150px;

}
.lista1{
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
}
ul, li{
    margin-top: 10px;
}

/*footer*/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
}